.donation__visible-radio_el_apple-pay {
  display: inline-block;
  vertical-align: middle;
  border: 0;
  background-color: #F8F8F8;
  text-align:center;
  padding-top: 17px;
  font-weight: 700;
  line-height: 20px;
  cursor: pointer;
  background-image: url(/images/ï£¿Pay.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 78px 36px;
 }

 .donation__visible-radio_el_apple-pay:hover {
  background-image: url(/images/apple-pay-white.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 78px 36px;
  background-color: #82607D;
 }
