 .card-item__inscription {
  position: absolute;
  top: 12px;
  left: 24px;
  padding: 2px 8px;
  background-color: #FFA923; 
   width: 41px;
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 20px;
}