.info-block__header {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  max-width: 600px;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
  color: #fff;
}

@media screen and (max-width: 599px) {
  .info-block__header {
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 15px;
  }
}