.donation__visible-radio {
  display: inline-block;
  vertical-align: middle;
  border: 0;
  background-color: #F8F8F8;
  text-align:center;
  padding-top: 10px;
  font-weight: 700;
  line-height: 20px;
  cursor: pointer;
  transition: .5s;
}

.donation__visible-radio:hover {
  background-color: #82607D;
  color: white;
}

.donation__item:checked + .donation__visible-radio {
  background-color: #82607D; 
  z-index: 3;
  color: #F8F8F8;
  transition: background-color 2s;
}

.donation__item_el_donation-sum:checked + .donation__visible-radio {
  background-color: #82607D;
  color: #F8F8F8;
  transition: background-color 2s;
}
