.max-donation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(#82607D 50%, white 0%);
  position: relative;
}

@media screen and (max-width: 768px) {
  .max-donation {
    background: linear-gradient(#82607D 63%, white 0%);
  }
}

@media screen and (max-width: 426px) {
  .max-donation {
    background: linear-gradient(#82607D 55%, white 0%);
  }
}
