.section-title {
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.136;
  padding-top: 96px;
  padding-bottom: 56px;
  margin: 0px;
  color: #000000;
}

@media screen and (max-width: 426px) {
  .section-title {
    font-size: 30px;
    line-height: 1.375;
    padding-top: 56px;
    padding-bottom: 24px;
  }
}