.max-donation__card-element {

}

.max-donation__card-form {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 43px;
}

@media screen and (max-width: 750px) {
  .max-donation__card-element {
    display: none;
  }
}

.max-donation__fieldset-card {
  margin: 0;
  padding: 0;
  border: 0;
  z-index: 3;
  display: grid;
  grid-template-columns: 24px 96px 27px 185px 56px 126px 24px;
  grid-template-rows: 24px 56px 8px 56px 16px 23px 56px 24px;
  grid-template-areas: 
  ". . . . . . ."
  ". num num num . ctt ."
  ". . . . . ctt . "
  ". own own own . cvc ."
  ". . . . . csb . "
  ". dsb . sum . csb ."
  ". data . sum . csb ."
  ". . . . . . .";
}

.max-donation__field-card-num {
  grid-area: num;
  padding: 18px 17px 18px 17px;
  background: #FFFFFF;
  height: 56px;
}

.max-donation__field-card-owner {
  grid-area: own;
  padding: 18px 17px 18px 17px;
  background: #FFFFFF;
  height: 56px;
}

.max-donation__field-card-data {
  grid-area: data;
  margin-top: 4px;
  padding: 18px 17px 18px 17px;
  background: #FFFFFF;
  height: 56px;
}

.max-donation__field-card-c {
  grid-area: cvc;
  height: 48px;
  padding: 18px 18px 10px 18px;
  background: #FFFFFF;
}

.max-donation__title-cvc {
  grid-area: ctt;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  align-self: end;
}

.max-donation__subtitle-cvc {
  grid-area: csb;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  padding: 4px 0px 0px;
  margin: 0px;
}

.max-donation__subtitle-data {
  grid-area: dsb;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #000000;
  padding: 0px;
  margin: 0px;
}

.max-donation__fieldset-card-sum-info {
  grid-area: sum;
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding-top: 18px;
  box-sizing: border-box;
}

.max-donation__subtitle-sum {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #8E8E8E;
  padding: 0px;
  margin: 0px;
}

.max-donation__field-card-sum {
  width: 100%;
  height: 29px;
  padding: 0px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  border: 0;
  background-color: transparent;
}

.max-donation__fieldset-contact {
  max-width: 552px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin: 0;
  padding: 0;
  border: 0;
}
.max-donation__field-name {
  background-color: #F8F8F8;
  height: 56px;
  padding: 18px 17px 18px 17px;
}

.max-donation__field-secondname {
  background-color: #F8F8F8;
  height: 56px;
  padding: 18px 17px 18px 17px;
}

.max-donation__field-tell {
  background-color: #F8F8F8;
  height: 56px;
  padding: 18px 17px 18px 17px;
}

.max-donation__field-mail {
  background-color: #F8F8F8;
  height: 56px;
  padding: 18px 17px 18px 17px;
}

.max-donation__fieldset-agreement {
  max-width: 552px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0;
  padding: 32px 0px 0px;
  border: 0;
}