.max-donation__fieldset-card {
  margin: 0;
  padding: 0;
  border: 0;
  z-index: 3;
  display: grid;
  grid-template-columns: 24px 96px 27px 185px 56px 126px 24px;
  grid-template-rows: 24px 56px 8px 56px 16px 23px 56px 24px;
  grid-template-areas: 
  ". . . . . . ."
  ". num num num . ctt ."
  ". . . . . ctt . "
  ". own own own . cvc ."
  ". . . . . csb . "
  ". dsb . sum . csb ."
  ". data . sum . csb ."
  ". . . . . . .";
}