.slider__title{
    color:#fff;
    font-style: normal;
    font-weight: 700;
    font-size: 62px;
    line-height: 66px;
    margin: 0;
    padding-bottom: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

@media screen and (max-width: 425px) {
    .slider__title{
        font-size: 42px;
        line-height: 47px;
    }
}