.slider__indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    margin: 0 15%;
    padding-left: 0;
    list-style: none;
  }