.max-donation__description {
  display: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  max-width: 551px;
}

@media screen and (max-width: 600px) {
  .max-donation__description {
    margin: 16px 24px;
    max-width: 375px;
  }
}