.max-donation__fieldset {
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    margin-top: 16px;
  }

  /* @media screen and (max-width:1279px) {
    .max-donation__form {
      
    }
  } */
  
  @media screen and (max-width: 768px) {
    .max-donation__fieldset {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }