.values__list-subtitle {
  width: 90%;
  margin: 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #000000;
}

@media screen and (max-width: 426px) {
  .values__list-subtitle {
    width: 100%;
    font-size: 16px;
    line-height: 1.38;
  }
}