.slider__description{
    color: #fff;
    font-family: 'Berlin';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    margin: 0;
    max-width: 626px;
    position: relative;
    z-index: 1;
}

@media screen and (max-width: 425px) {
    .slider__description{
        font-size: 18px;
        line-height: 26px;
    }
}