.donation__donat-button {
  padding: 18px 209px;
  background-color: #EEB250;
  border: 0;
  border-radius: 56px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: white;
  margin: 45px 0 55px;
  cursor: pointer;
  transition: .5s;
}

@media screen and (max-width: 768px) {
  .donation__donat-button {
    padding: 18px 90px;
    margin: 32px 0 40px;
  }
}

.donation__donat-button:hover {
  background-color: #E8AD4D;
}