.slider__indicator_active {
    width: 29px;
    background-image: url("data:image/svg+xml,%3Csvg width='29' height='10' viewBox='0 0 29 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='29' height='10' rx='5' fill='%2377C5D5'/%3E%3C/svg%3E%0A");
  }
  