.slider__item_logo_rosskongres{
    background-image: url(../../../../images/trust.svg);
    background-position-x: -397px;
}

@media screen and (max-width: 575px) {
    .slider__item_logo_rosskongres{
        background-position-x: -244px;
    }
}