.slider__item_logo_school{
    background-image: url(../../../../images/trust.svg);
    background-position-x: -1028px;
}

@media screen and (max-width: 575px) {
    .slider__item_logo_school{
        background-position-x: -630px;
    }
}