.header__button-text {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 1199px) {
  .header__button-text {
    font-size: 14px;
  }
}

@media screen and (max-width: 969px) {
  .header__button-text {
    font-size: 16px;
  }
}