.blog__title {
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.136;
  margin: 160px 0px 56px;
  color: #000000;
}

@media screen and (max-width: 426px) {
  .blog__title {
    font-size: 30px;
    line-height: 1.375;
    margin: 15px 0px 24px;
  }
}