.donation__text_italic {
  margin: 0;
  font-weight: 400;
  font-size: 62px;
  line-height: 66px;
  font-style: italic;
}

/* @media screen and (max-width: 768px) {
  .donation__text {
    font-size: 44px;
    line-height: 41px;
  }
} */

@media screen and (max-width: 768px) {
  .donation__text {
    font-size: 27px;
    line-height: 36px;
  }
}