.donation__text_italic {
  margin: 0;
  font-weight: 400;
  font-size: 62px;
  line-height: 66px;
  font-style: italic;
}

@media screen and (max-width: 768px) {
  .donation__text_italic {
    font-size: 7.2vw;
    line-height: 1.3;
  }
}
/* 
@media screen and (max-width: 768px) {
  .donation__text {
    font-size: 27px;
    line-height: 36px;
  }
} */