.header__languages {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  column-gap: 16px;
  align-items: center;
}

@media screen and (max-width: 969px) {
  .header__languages {
    display: none;
  }
}