.header__button {
  box-sizing: border-box;
  max-width: 212px;
  width: 100%;
  height: 56px;
  background-color: #EEB250;
  color: #fff;
  border: none;
  cursor: pointer;
  white-space: nowrap;
}

.header__button:active {
  background-color: #000;
  color: #EEB250;
}

@media screen and (max-width: 1049px) {
  .header__button {
    margin-left: auto;
  }
}

@media screen and (max-width: 450px) {
  .header__button {
    max-width: 136px;
  }
}