.header__button {
  box-sizing: border-box;
  max-width: 212px;
  width: 100%;
  height: 56px;
  background-color: #EEB250;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1199px) {
  .header__button {
    font-size: 14px;
  }
}

@media screen and (max-width: 1049px) {
  .header__button {
    margin-left: auto;
  }
}

@media screen and (max-width: 969px) {
  .header__button {
    font-size: 16px;
  }
}

@media screen and (max-width: 450px) {
  .header__button {
    max-width: 136px;
  }
}