.donation__text_font-style_italic {
  margin: 0;
  font-weight: 400;
  font-size: 62px;
  line-height: 66px;
  font-style: italic;
  font-family: 'Playfair Display', sans-serif;
}

@media screen and (max-width: 768px) {
  .donation__text_font-style_italic {
    font-size: 7.2vw;
    line-height: 1.3;
  }
}
