.popup-menu-two__backward {
  width: 19.62px;
  height: 18.67px;
  background-image: url(../../../images/backward_btn.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  transition: .5s;
  cursor: pointer;
  position: absolute;
  top: 22.67px;
  left: 22.67px;
}

.popup-menu-two__backward:hover {
  opacity: .5;
}