.contact__form {
  display: grid;
  grid-template-areas: 
  "user-name user-email"
  "user-message user-message"
  "checkbox-zone checkbox-zone"
  "form-btn form-btn";
  gap: 24px;
  width: 100%;
  margin-top: 48px;
}

@media screen and (max-width: 700px) {
  .contact__form {
    margin-top: 24px;
    gap: 16px;
    grid-template-areas: 
    "user-name" 
    "user-email"
    "user-message"
    "checkbox-zone"
    "form-btn";
  }
}