.helpful__social-content {
  padding: 125px 0 0 88px;
  flex-direction: row;
  justify-content: flex-start;
  box-sizing: border-box;
}

@media screen and (max-width: 1166px) {
  .helpful__social-content {
    padding: 40px 0 0;
  }
}

@media screen and (max-width: 675px) {
  .helpful__social-content {
    padding: 0;
  }
}