/*БЭМ в процессе*/

.helpful {
  margin: 0;
  padding: 96px 124px 0 124px;
  box-sizing: border-box;
}

@media screen and (max-width: 675px) {
  .helpful {
    padding: 0px 23px;
  }
}

.helpful__title {
  /*font-family: 'Inter', serif, sans-serif;*/
  margin: 0;
  padding: 0;
  font-size: 42px;
  line-height: 58px;
  font-weight: 700;
  text-align: center;
}

@media screen and (max-width: 675px) {
  .helpful__title {
    font-size: 30px;
    line-height: 40px;
  }
}

.helpful__title_cursive {
  font-family: 'Playfair Display', serif, sans-serif;
  font-weight: 400;
  font-style: italic;
}

.helpful__content {
  margin: 0 auto;
  padding: 80px 0 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 72px;
  box-sizing: border-box;
}

@media screen and (max-width: 1192px) {
  .helpful__content {
    padding: 40px 0 0;
  }
}

@media screen and (max-width: 675px) {
  .helpful__content {
    gap: 40px;
  }
}

.helpful__item {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 57px;
  justify-content: end;
  align-items: center;
  box-sizing: border-box;
}

@media screen and (max-width: 1192px) {
  .helpful__item {
    gap: 32px;
  }
}

@media screen and (max-width: 1166px) {
  .helpful__item {
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1166px) {
  .helpful__item {
    width: 100%;
  }
}

.helpful__flex_reverse {
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: flex-end;
  gap: 0px;
}

@media screen and (max-width: 1166px) {
  .helpful__flex_reverse {
    gap: 32px;
    flex-direction: column;
    align-items: center;
  }
}

.helpful__text-block {
  display: flex;
  flex-direction: column;
  max-width: 472px;
  gap: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.helpful__text-block_reverse {
  max-width: 503px;
}

.helpful__item-title {
  padding: 0;
  margin: 0;
  /*font-family: 'Inter', serif, sans-serif;*/
  font-weight: 700;
  font-size: 20px;
  line-height: 33px;
}

.helpful__item-text {
  padding: 0;
  margin: 0;
  /*font-family: 'Inter', serif, sans-serif;*/
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.helpful__item-url {
  display: flex;
  padding: 0;
  margin: 16px 0px 0px;
  width: 287px;
  height: 56px;
  border-radius: 48px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #F8F8F8;
}

.helpful__item-url:hover {
  background-color: #F1F5F9;
}

@media screen and (max-width: 1166px) {
  .helpful__item-url {
    align-self: center;
  }
}

@media screen and (max-width: 700px) {
  .helpful__item-url {
    width: 100%;
  }
}

.helpful__link {
  cursor: pointer;
  transition: linear .5s;
}

.helpful__url-text {
  /*font-family: 'Inter', serif, sans-serif;*/
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #000;
}

.helpful__item-arrow {
  background-image: url('../../images/link-arrow.svg');
  padding: 10px;
  box-sizing: border-box;
}

.helpful__url-img {
  text-decoration: none;
  margin: 0;
  padding: 0;
  
}

.url__image {
  width: 100%;
}

.helpful__item-e-mail {
  text-decoration: none;
  color: #54a8b6;
  font-weight: 700;
  font-size: 20px;
  line-height: 33px;
}

.helpful__social-content {
  padding: 125px 0 0 88px;
  flex-direction: row;
  justify-content: flex-start;
  box-sizing: border-box;
}

@media screen and (max-width: 1166px) {
  .helpful__social-content {
    padding: 40px 0 0;
  }
}

@media screen and (max-width: 675px) {
  .helpful__social-content {
    padding: 0;
  }
}

.helpful__social-zone {
  padding-top: 4px;
  display: flex;
  gap: 18px;
  box-sizing: border-box;
}

.helpful__item-social {
  margin: 0;
  padding: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: border-box;
}

.helpful__item-social_logo_vk {
  background-image: url('../../images/logo-vk.svg');
}

.helpful__item-social_logo_tg {
  background-image: url('../../images/logo-tg.svg');
}