.donation__visible-radio_pos_left {
  margin-left: 56px;
  margin-right: -30px;
}

@media screen and (max-width: 555px) {
  .donation__visible-radio_pos_left {
    margin-left: 24px;
  }
}

@media screen and (max-width: 426px) {
  .donation__visible-radio_pos_left {
    margin-left: 14px;
  }
}