.donation__field-sum {
  border: 0;
  background-color: #F8F8F8;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 18px 0 18px 18px;
  width: 540px;
}

@media screen and (max-width: 601px) {
  .donation__field-sum {
    max-width: 295px;
    margin: 0 24px;
    margin-right: 35px;
  }
}

@media screen and (max-width: 426px) {
  .donation__field-sum {
    margin-right: 25px;
  }
}
