.distribution {
  width: 100%;
  margin: 0;
  padding: 43px 125px;
  box-sizing: border-box;
  display: flex;
  background-color: #F8F8F8;
  justify-content: center;
  gap: 103px;
  transition: padding 0.4s;
}

@media screen and (max-width: 1230px) {
  .distribution {
    flex-direction: column;
    align-items: center;
    gap: 37px;
  }
}

@media screen and (max-width: 630px) {
  .distribution {
    padding: 43px 50px;
  }
}

@media screen and (max-width: 500px) {
  .distribution {
    padding: 40px 24px 52px;
  }
}