.trust__title{
    font-weight: 700;
    font-size: 42px;
    line-height: 1.136;
    text-align: center;
    margin: 0;
    padding-bottom: 23px;
    padding-top: 96px;
}

@media screen and (max-width: 425px) {
    .trust__title{
        font-size: 30px;
        line-height: 1.375;
        padding-top: 56px;
        padding-bottom: 26px;
    }
}