.slider__control{
    --size: 40px;
    --indent: 20px;
    --background: hsla(0, 0%, 100%, 0.4);
    border: 0;
    position: absolute;
    width: var(--size);
    height: var(--size);
    top: calc(50% - (var(--size) / 2));
    border-radius: 50%;
    background: var(--slider-control-url) var(--background) no-repeat center;
    cursor: pointer;
    transition: .5s;
}

.slider__control:hover {
    --background: hsla(0, 0%, 100%, 0.5);
  }

.slider__control:active {
    --background: hsla(0, 0%, 100%, 0.7);
}

.slider__control[data-slide='prev'] {
    --slider-control-url: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.0208 12H3.97913' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10.5416 5.4375L3.97913 12L10.5416 18.5625' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    left: var(--indent);
}

.slider__control[data-slide='next'] {
    --slider-control-url: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.97915 12H20.0208' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M13.4583 5.4375L20.0208 12L13.4583 18.5625' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    right: var(--indent);
}

@media screen and (max-width: 768px) {
    .slider__control{
        display: none;
    }
}