.navigation {
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  column-gap: 63px;
}

@media screen and (max-width: 1150px) {
  .navigation {
    column-gap: 20px;
  }
}

@media screen and (max-width: 1049px) {
  .navigation {
    display: none;
  }
}