.donation__text {
  max-width: 730px;
  margin: 94px 0 0 51px;
  font-weight: 700;
  font-size: 60px;
  line-height: 64px;
  color: white;
  /* padding-right: 30px; */
}

@media screen and (max-width: 1279px) {
  .donation__text {
    margin-left: 0px;
  }
}

@media screen and (max-width: 960px) {
  .donation__text {
    max-width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .donation__text {
    font-size: 7.2vw;
    line-height: 1.3;
    margin-top: 44px;
  }
}

@media screen and (max-width: 426px) {
  .donation__text {
    max-width: 312px;
    font-size: 27px;
    line-height: 38px;
    margin-left: 24px;
  }
}