/*брейкпоинты и мобильная версия заднего фона в разработке*/
/*БЭМ нестед в процессе*/

.about {
  margin: 0 auto;
  padding: 96px 124px;
  max-width: 1032px;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  .about {
    padding: 56px 0;
  }
}

.about__text-zone {
  display: flex;
  gap: 2%;
  max-width: 1032px;
}

@media screen and (max-width: 880px) {
  .about__text-zone {
    flex-direction: column;
    gap: 16px;
  }
}

@media screen and (max-width: 600px) {
  .about__text-zone {
    padding: 0 24px;
  }
}

.about__question {
  margin: 0;
  padding: 0;
  min-width: 49%;
  /*font-family: 'Inter', serif, sans-serif;*/
  font-weight: 700;
  font-size: 44px;
  line-height: 50px;
}

@media screen and (max-width: 800px) {
  .about__question {
    font-size: 28px;
    line-height: 44px;
  }
}

.about__answer-zone {
  gap: 32px;
  display: flex;
  flex-direction: column;
  min-width: 504px;
  min-width: 49%;
}

@media screen and (max-width: 800px) {
  .about__answer-zone {
    gap: 22px;
  }
}

.about__answer {
  margin: 0;
  padding: 0;
  /*font-family: 'Inter', serif, sans-serif;*/
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

@media screen and (max-width: 800px) {
  .about__answer {
    font-size: 18px;
    line-height: 23px;
  }
}

.about__answer_bold {
  font-weight: 700;
}

.about__fig-zone {
  display: flex;
  position: relative;
  padding-top: 16px;
  width: 100%;
  height: 515px;
  flex-wrap: wrap;
  z-index: 1;
  flex-direction: column;
}

@media screen and (max-width: 800px) {
  .about__fig-zone {
    height: 387px;
  }
}

@media screen and (max-width: 375px) {
  .about__fig-zone {
    height: 398px;
  }
}

.about__content-fig {
  margin: 0;
  padding: 0;
  position: relative;
}

@media screen and (max-width: 600px) {
  .about__content-fig {
    margin: 0 24px;
  }
}

.about__fig-item {
  display: flex;
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.about__fig-item_form_rectangle {
  border-radius: 136px;
}

.about__fig-item_form_circle {
  border-radius: 50%;
}

.about__fig-item_rectangle_s {
  width: 151px;
  height: 63px;
}

@media screen and (max-width: 375px) {
  .about__fig-item_rectangle_s {
    width: 95px;
    height: 40px;
  }
}

.about__fig-item_rectangle_m {
  width: 416px;
  height: 163px;
}

@media screen and (max-width: 800px) {
  .about__fig-item_rectangle_m {
    width: 271px;
    height: 102px;
  }
}

.about__fig-item_rectangle_l {
  width: 576px;
  height: 233px;
}

@media screen and (max-width: 375px) {
  .about__fig-item_rectangle_l {
    width: 254px;
    height: 125px;
  }
}


.about__fig-item_circle_xs {
  width: 7px;
  height: 7px;
}

.about__fig-item_circle_s {
  width: 9px;
  height: 9px;
}

.about__fig-item_circle_m {
  width: 17px;
  height: 17px;
}

.about__fig-item_circle_l {
  width: 23px;
  height: 23px;
}

.about__fig-item_color_turquoise {
  background-color: #77C5D5;
}

.about__fig-item_color_blue {
  background-color: #528CBE;
}

.about__fig-item_color_red {
  background-color: #DE6F7E;
}

.about__fig-item_color_orange {
  background-color: #EEB250;
}

.about__fig-item_color_gray {
  background-color: #F8F8F8;
}

.about__fig-item_cont-elem_first {
  position: absolute;
  top: -2px;
  left: -1px;
  z-index: 2;
}

@media screen and (max-width: 800px) {
  .about__fig-item_cont-elem_first {
    z-index: 5;
    top: 30px;
  }
}

@media screen and (max-width: 700px) {
  .about__fig-item_cont-elem_first {
    top: 9px;
    left: -15px;
    z-index: 5;
  }
}

.about__fig-item_cont-elem_second {
  position: absolute;
  top: 117px;
  right: 405px;
  z-index: 3;
}

@media screen and (max-width: 1100px) {
  .about__fig-item_cont-elem_second {
    right: 300px;
  }
}

@media screen and (max-width: 980px) {
  .about__fig-item_cont-elem_second {
    left: 42px;
  }
}

@media screen and (max-width: 800px) {
  .about__fig-item_cont-elem_second {
    top: 120px;
    left: auto;
    right: 160px;
    z-index: 4;
  }
}

@media screen and (max-width: 700px) {
  .about__fig-item_cont-elem_second {
    width: 283px;
    top: 105px;
    left: 7px;
    right: auto;
  }
}

@media screen and (max-width: 600px) {
  .about__fig-item_cont-elem_second {
    left: auto;
    right: 170px;
  }
}

@media screen and (max-width: 520px) {
  .about__fig-item_cont-elem_second {
    left: 7px;
    right: auto;
  }
}

.about__fig-item_cont-elem_third {
  position: absolute;
  top: 228px;
  right: 165px;
  z-index: 4;
}

@media screen and (max-width: 1100px) {
  .about__fig-item_cont-elem_third {
    right: 125px;
  }
}

@media screen and (max-width: 800px) {
  .about__fig-item_cont-elem_third {
    top: 200px;
    right: 80px;
    z-index: 3;
  }
}

@media screen and (max-width: 640px) {
  .about__fig-item_cont-elem_third {
    width: 300px;
    top: 200px;
    left: 21px;
  }
}

@media screen and (max-width: 600px) {
  .about__fig-item_cont-elem_third {
    left: auto;
    right: 70px;
  }
}

@media screen and (max-width: 440px) {
  .about__fig-item_cont-elem_third {
    right: auto;
    left: 19px;
  }
}

.about__fig-item_cont-elem_fourth {
  position: absolute;
  top: 347px;
  right: 2px;
  z-index: 5; 
}

@media screen and (max-width: 800px) {
  .about__fig-item_cont-elem_fourth {
    top: 285px;
    z-index: 2;
  }
}

@media screen and (max-width: 375px) {
  .about__fig-item_cont-elem_fourth {
    width: 300px;
    top: 295px;
    left: 33px;
    z-index: 2;
  }
}

.about__bulb {
  width: 133px;
  height: 133px;
  background-image: url('../../images/bulb.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
  margin-top: 30px;
  margin-left: 19px;
  margin-right: 41px;
}

@media screen and (max-width: 800px) {
  .about__bulb {
    background-position: 0 0;
    margin-top: 19px;
    margin-left: 21px;
    margin-right: 23px;
  }
}

.about__book {
  width: 174px;
  height: 131px;
  background-image: url('../../images/book.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
  margin-top: 33px;
  margin-right: 17px;
}

@media screen and (max-width: 800px) {
  .about__book {
    width: 96px;
    height: 70px;
    background-position: 0 0;
    margin-top: 22px;
    margin-right: 23px;
  }
}

.about__curve {
  width: 128px;
  height: 96px;
  background-image: url('../../images/curve.svg');
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 26px;
  margin-right: 34px;
}

@media screen and (max-width: 800px) {
  .about__curve {
    width: 82px;
    height: 60px;
    padding: 40px;
    background-size: 84px 61px;
    background-position: 0 0;
    margin-top: 23px;
    margin-right: -14px;
    margin-left: 4px;
  }
}

.about__briefcase {
  width: 116px;
  height: 105px;
  background-image: url('../../images/briefcase.svg');
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 21px;
  margin-right: 49px;
  margin-left: 4px;
}

@media screen and (max-width: 800px) {
  .about__briefcase {
    width: 76px;
    height: 69px;
    padding: 20px;
    background-position: 0 0;
    margin-top: 18px;
    margin-right: 31px;
  }
}

.about__activity {
  padding: 0;
  margin: 0;
  max-width: 215px;
  /*font-family: 'Inter', serif, sans-serif;*/
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  align-self: center;
}

@media screen and (max-width: 800px) {
  .about__activity {
    font-size: 16px;
  line-height: 18px;
  }
}

.about__no-content-fig {
  position: relative;
}

.about__fig-item_non-cont-elem_first {
  position: absolute;
  top: 60px;
  left: 65px;
  z-index: 1;
}

@media screen and (max-width: 375px) {
  .about__fig-item_non-cont-elem_first {
    top: 81px;
    left: -15px;
  }
}

.about__fig-item_non-cont-elem_second {
  position: absolute;
  top: 160px;
  right: 0px;
  z-index: 1;
}

@media screen and (max-width: 375px) {
  .about__fig-item_non-cont-elem_second {
    top: 240px;
    left: -64px;
    right: auto;
  }
}

.about__fig-item_non-cont-elem_third {
  position: absolute;
  top: 312px;
  left: 290px;
  z-index: 1;
}

@media screen and (max-width: 375px) {
  .about__fig-item_non-cont-elem_third {
    top: 162px;
    left: auto;
    right: -64px;
  }
}

.about__fig-item_non-cont-elem_fourth {
  position: absolute;
  top: 20px;
  left: 576px;
  z-index: 1;
}

.about__fig-item_non-cont-elem_fifth {
  position: absolute;
  top: 72px;
  left: 693px;
  z-index: 1;
}

.about__fig-item_non-cont-elem_sixth {
  position: absolute;
  top: 245px;
  left: 145px;
  z-index: 2;
}

.about__fig-item_non-cont-elem_seventh {
  position: absolute;
  top: 344px;
  left: 516px;
  z-index: 5;
}

.about__fig-item_non-cont-elem_eighth {
  position: absolute;
  top: 373px;
  left: 221px;
  z-index: 2;
}

.about__fig-item_non-cont-elem_ninth {
  position: absolute;
  top: 310px;
  right: 36px;
  z-index: 2;
}

.about__fig-item_non-cont-elem_tenth {
  position: absolute;
  top: 27px;
  left: 631px;
  z-index: 1;
}

.about__fig-item_non-cont-elem_eleventh {
  position: absolute;
  top: 247px;
  left: 176px;
  z-index: 3;
}

.about__fig-item_non-cont-elem_twentieth {
  position: absolute;
  top: 147px;
  left: 671px;
  z-index: 1;
}

.about__fig-item_non-cont-elem_thirteenth {
  position: absolute;
  top: 291px;
  left: 401px;
  z-index: 3;
}

.about__fig-item_non-cont-elem_fourteenth {
  position: absolute;
  top: 322px;
  left: 228px;
  z-index: 1;
}