.question__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 50px;
  text-align: center;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 575px) {
  .question__title {
    font-size: 30px;
    line-height: 44px;
  }
}