.distribution__submit-button {
  width: 152px;
  height: 56px;
  font-size: 16px;
  line-height: 20px;
  background-color: #528CBE;
  color: white;
  border: 0;
  border-radius: 56px;
  /* padding: 18px 29px; */
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  text-align: center;
}

@media screen and (max-width: 400px) {
  .distribution__submit-button {
    width: 100%;
  }
}

.distribution__submit-button:hover {
  transition: .5s;
  background-color: #487FAE;
}