/*БЭМ в разработке*/

.contact {
  max-width: 680px;
  margin: 0 auto;
  padding: 107px 0 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

@media screen and (max-width: 700px) {
  .contact {
    padding: 63px 24px 56px;
  }
}

.contact__title {
  padding: 0;
  margin: 0;
  font-family: 'Inter', serif, sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 57px;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .contact__title {
    font-size: 30px;
    line-height: 42px;
  }
}

.contact__text {
  padding: 0;
  margin: 8px 0 0;
  font-family: 'Inter', serif, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.contact__form {
  display: grid;
  grid-template-areas: 
  "user-name user-email"
  "user-message user-message"
  "checkbox-zone checkbox-zone"
  "form-btn form-btn";
  gap: 24px;
  width: 100%;
  margin-top: 48px;
}

@media screen and (max-width: 700px) {
  .contact__form {
    margin-top: 24px;
    gap: 16px;
    grid-template-areas: 
    "user-name" 
    "user-email"
    "user-message"
    "checkbox-zone"
    "form-btn";
  }
}

.contact__user-name {
  grid-area: user-name;
  padding:  18px 32px;
  margin: 0;
  border: none;
  border-radius: 56px;
  font-family: 'Inter', serif, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  background-color: #f8f8f8;
  outline:none;
  box-sizing: border-box;
}

.contact__user-name:focus {
  outline: 1px solid #528CBE;
}

.contact__user-email {
  grid-area: user-email;
  padding:  18px 32px;
  margin: 0;
  border: none;
  border-radius: 56px;
  font-family: 'Inter', serif, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  background-color: #f8f8f8;
  outline:none;
  box-sizing: border-box;
}

.contact__user-email:focus {
  outline: 1px solid #528CBE;
}

.contact__user-message {
  grid-area: user-message;
  padding:  18px 32px;
  margin: 0;
  min-height: 125px;
  border: none;
  border-radius: 26px;
  resize: none;
  font-family: 'Inter', serif, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  background-color: #f8f8f8;
  outline:none;
  box-sizing: border-box;
}

.contact__user-message:focus {
  outline: 1px solid #528CBE;
}

.contact__checkbox-zone {
  padding-left: 30px;
  grid-area: checkbox-zone;
  display: block;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  box-sizing: border-box;
}

.contact__checkbox-zone .contact__check-user-agreement {
  position: absolute;
  opacity: 0;
}

.contact__check-user-agreement {
  padding: 0;
  margin: 0;
  font-family: 'Inter', serif, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.contact__check-on {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 4px;
  transition: ease .3s;
  box-sizing: border-box;
}

.contact__checkbox-zone .contact__check-user-agreement ~ .contact__check-on {
  cursor: pointer;
}

.contact__checkbox-zone .contact__check-user-agreement:hover ~ .contact__check-on {
  border: 1px solid #54a8b6;
  box-sizing: border-box;
}

.contact__checkbox-zone .contact__check-user-agreement:checked ~ .contact__check-on {
  background-color: #54a8b6;
  width: 18px;
  height: 18px;
  border: none;
  background-image: url('../../images/union-white.svg');
  background-repeat: no-repeat;
  background-size: 12px 8px;
  background-position: center center;
}

.contact__user-agreement {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color:#54a8b6;
  transition: linear .5s;
}

.contact__user-agreement:hover {
  cursor: pointer;
  opacity: 0.5;
}

.contact__form-btn {
  grid-area: form-btn;
  padding: 18px 0;
  margin-top: 16px;
  border: none;
  border-radius: 56px;
  font-family: 'Inter', serif, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  transition: linear .5s;
  box-sizing: border-box;
}

.contact__form-btn:hover {
  cursor: pointer;
  opacity: 0.7;
}

.contact__form-btn_active {
  background-color: #528CBE;
  color: #fff;
}