/*БЭМ в процессе*/

.question {
  margin: 0;
  padding: 0px 223px 96px 223px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 1280px;
  text-align: center;
  box-sizing: border-box;
}

@media screen and (max-width: 1000px) {
  .question {
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
    margin: 0 auto;
  }
}

@media screen and (max-width: 800px) {
  .question {
    padding: 0px 0px 56px;
  }
}

@media screen and (max-width: 575px) {
  .question {
    gap: 17px;
  }
}