.footer {
  box-sizing: border-box;
  background-color: #302F2D;
  display: flex;
  flex-direction: column;
  padding: 141px 124px 0 124px;
  width: 100%;
}

@media screen and (max-width: 1119px) {
  .footer {
    padding: 25px 24px 0 24px;
  }
}