.useful__list-elem_backgr_blue {
  background-image: url(../../../../images/useful_blue.svg);
  background-repeat: no-repeat;
  background-position: right 13px top 17px;
  background-size: 177px 189px;
  transition: all 0.6s;
}

.useful__list-elem_backgr_blue:hover {
  background-position: right -10px top -1px;
  background-size: 204px 217px;
}

@media screen and (max-width: 515px) {
  .useful__list-elem_backgr_blue {
    background-position: right 28px top 72px;
    background-size: 134px 142px;
  }

  .useful__list-elem_backgr_blue:hover {
    background-position: right 28px top 72px;
    background-size: 134px 142px;
  }
}