.useful__list-elem_backgr_blueb {
  background-image: url(../../../../images/useful_blueb.svg);
  background-repeat: no-repeat;
  background-position: 327px 51px;
  background-position: right 68px top 51px;
  background-size: 109px 109px;
}

.useful__list-elem_backgr_blueb:hover {
  background-position: right 56px top 44px;
  background-size: 125px 125px;
}

@media screen and (max-width: 515px) {
  .useful__list-elem_backgr_blueb {
    background-position: right 39px top 88px;
    background-size: 94px 94px;
  }
}