.distribution__form {
  width: 496px;
  display: flex;
  border: 0;
  align-items: center;
  gap: 16px;
}

@media screen and (max-width: 912px){
  .distribution__form {
    padding: 0;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 700px){
  .distribution__form {
    width: 100%;
  }
}

