.slider__photo{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 550px;
}

@media screen and (max-width: 1024px) {
    .slider__photo{
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    .slider__photo{
        display: none;
    }
}