.donation {
  max-width: 1134px;
  position: relative;
  margin: 0 73px;
  margin-bottom: -60px;
  background-color: #82607D;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}

@media screen and (max-width: 1279px) {
  .donation {
    flex-direction: column;
    align-items: center;
    margin-bottom: -30px;
  }
}

@media screen and (max-width: 800px) {
  .donation {
    margin: 0 25px;
  }
}

@media screen and (max-width:426px) {
  .donation {
    margin: 0;
  }
}