.distribution__field-mail {
  width: 328px;
  border: 0;
  border-radius: 56px;
  box-sizing: border-box;
  padding: 18px 32px 18px 32px;
  font-size: 16px;
  line-height: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  outline-style: none;
}

@media screen and (max-width: 400px){
  .distribution__field-mail {
    width: 100%;
  }
}