.helpful__item {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 57px;
  justify-content: end;
  align-items: center;
  box-sizing: border-box;
}

@media screen and (max-width: 1192px) {
  .helpful__item {
    gap: 32px;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
  }
}