.blog__inscription {
  display: block;
  width: 67px;
  padding: 2px 8px;
  margin: 18px 24px 0;
  margin-bottom: 236px;
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 20px;
  background-color: #00FFFA;
}